 /*table */ 
 .table-format {
    position: relative;
    background: linear-gradient(0deg, rgb(24, 31, 0), #1a0125, #040664); 
   

  }
  
  .table-format:before, .table-format:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(45deg, #fb00c5, #0400ff, #1eff00,#fffb00, #ff5e00, #fb00c5, 
      #0004ff, hsl(155, 100%, 50%),#07db4e, #00fff2);
    width: calc(100% );
    height: calc(100%);
    z-index: -1;
  }
  
  .table-format:after {
    filter: blur(50px);
  }

table tr:first-child  {
    top : 0;
    vertical-align: top;
}

td {
    
    box-shadow: 0 0 10px #9ecaed;
    box-sizing:content-box;
}

/*-----------------*/
.edit-game-map {
  position: relative;
  top : 500px;
  left:  300px;
}